<!DOCTYPE html>
<?php include("seguridad.php") ?>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="../public/fav.ico" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/estilo2.css">
</head>
<body>
    <header>
        <img src="../assets/images/bg3.jpg" alt="">
        <nav>
            <a href="/To-do-app.html">ToDo APP</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
        </nav>
    </header>

    <main>
        <article class="article">
            <h2>Article Title 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus convallis sapien eu justo molestie, at feugiat sapien malesuada. Integer id tortor purus. Donec ut ante non odio lobortis placerat. Pellentesque nec est eget augue fermentum convallis.</p>
        </article>

        <article class="article">
            <h2>Article Title 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus convallis sapien eu justo molestie, at feugiat sapien malesuada. Integer id tortor purus. Donec ut ante non odio lobortis placerat. Pellentesque nec est eget augue fermentum convallis.</p>
        </article>
    </main>
</body>
</html>